.bbh-sans-hegarty-regular {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0,0);
}

html{
    scroll-behavior: smooth;
}

.partes{
    height: 100vh;
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.titulos{
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    padding-top: 40vh;
    padding-right: 120vh;
    background: none;
    text-decoration:underline;
}

.titulo{
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    padding-top: 40vh;
    background: none;
    text-decoration:underline;
}

.subtitulo{
    color: white;
    text-align: center;
    font-size: 24px;
    background: none;
    margin-top: 10px;
}

.texto{
    color: white;
    text-align: center;
    font-size: 20px;
    background: none;
    width: 80%;
    margin: 0 auto;
}

nav{
    position: fixed;
    left: 200px;
    top: 30%;
    z-index: 3;
    transition: 0.4s ease;
    transform: translateX(-50%);
}

#btn1{
    margin-left: 920px;
    background-color: #db4a34;
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
    
}

#btn2{
    margin-left: 920px;
    background-color: #db4a34;
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
    
}

#btn3{
    margin-left: 920px;
    background-color: #db4a34;
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
    
}

ul{
    list-style: none;
}

ul a{
    display: block;
    color: rgb(113, 12, 12);
    text-decoration: none;
    height: 40px;
    border: 1px solid rgb(113, 12, 12);
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    background-color: rgb(171, 171, 171);
}

ul a:hover{
    background-color: rgb(113, 12, 12);
    color: rgb(78, 77, 77);
    outline: none;
    transition: 0.4s ease;
    transform: translateX(10%);
}


#album {
    background-color: #ffe4ec;
    padding: 100px;
}

#album .card-body {
    width: 250px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-left: 20px;
}

#album1 {
    background-color: #ffe4ec;
    padding: 20px;
}

#album1 .card-body {
    width: 250px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-left: 20px;
}

.cuadrado{
    width: 900px;
    height: 600px;
    background: white;
    border-color:100px #db4a34;
    border-radius: 5%;
}

.cont{
    height: 100vh;      
    display: flex;
    justify-content: center;
    align-items: center;
}

.sesion {
    background: rgba(255, 255, 255, 0);
    padding: 25px;
    width: 900px;
}

.sesion h2,h3{
    background-color: white;
}

.sesion input{
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #303030;
    color: #ffffff;
}
.sesion a{
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    background: #db4a34;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#aa{
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    background: #4d34db;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.zona5{
    background-image: url("../img/usuarioo.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#zona4{
    background-image: url("../img/usuarioo.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#zona3{
    background-image: url("../img/catalogo.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#zona1{
    background-image: url("../img/inicio.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#zona2{
    background-image: url("../img/carrito.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sun{
    display: flex;
    width: 100px;
    margin: 70px 38vh;
}

#zom{
    display: flex;
    width: 150px;
    margin: 70px 38vh;
}

#aaa{
    display: flex;
    color: rgb(0, 0, 0);
    text-decoration:underline;
    height: 50px;
    width: 800px;
    justify-content: center;
    padding: 10px 0vh;
    background-color: rgb(171, 171, 171,0);
}