*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

html{
    scroll-behavior: smooth;
}

.contenido{
    height: 100vh;
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

#zona1{
    background-image: url('../images/images/landingpage.jpg');
}

#zona2{
    background-image: url('../images/images/porsche.jpg');
}

#zona30{
    background-image: url('../images/images/1930.jpg');
}

#zona40{
    background-image: url('../images/images/1940.jpg');
}

#zona50{
    background-image: url('../images/images/1950.jpg');
}

#zona60{
    background-image: url('../images/images/1960.jpg');
}

.titulo{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 40vh;
    background: none;
}

.subtitulo{
    color: white;
    text-align: center;
    font-size: 24px;
    background: none;
    margin-top: 10px;
}

.texto{
    color: white;
    text-align: center;
    font-size: 20px;
    background: none;
    width: 80%;
    margin: 0 auto;
}

nav{
    position: fixed;
    left: 200px;
    top: 30%;
    z-index: 3;
    transition: 0.4s ease;
    transform: translateX(-50%);
}

#btn1{
    margin-left: 920px;
    background-color: #db4a34;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    
}

#btn2{
    margin-left: 920px;
    background-color: #db4a34;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    
}

#btn3{
    margin-left: 920px;
    background-color: #db4a34;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    
}

ul{
    list-style: none;
}

ul a{
    display: block;
    color: rgb(113, 12, 12);
    text-decoration: none;
    height: 40px;
    border: 1px solid rgb(113, 12, 12);
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    background-color: rgb(171, 171, 171);
}

ul a:hover{
    background-color: rgb(113, 12, 12);
    color: rgb(78, 77, 77);
    outline: none;
    transition: 0.4s ease;
    transform: translateX(10%);
}


#album {
    background-color: #ffe4ec;
    padding: 100px;
}

#album .card-body {
    width: 250px;
    background: white;
    background-color: ;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-left: 20px;
}

#album1 {
    background-color: #ffe4ec;
    padding: 20px;
}

#album1 .card-body {
    width: 250px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-left: 20px;
}

#anuncios {
    width: 300px;
}

.anuncio {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-left: 80px;
}
